<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.carter.mapper.FlashSaleMapper" >
  <resultMap id="BaseResultMap" type="com.carter.pojo.FlashSale" >
    <id column="flash_sale_id" property="flashSaleId" jdbcType="INTEGER" />
    <result column="score" property="score" jdbcType="INTEGER" />
    <result column="stock" property="stock" jdbcType="INTEGER" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    flash_sale_id, score, stock, start_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.carter.pojo.FlashSaleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from flash_sale
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from flash_sale
    where flash_sale_id = #{flashSaleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from flash_sale
    where flash_sale_id = #{flashSaleId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.carter.pojo.FlashSaleExample" >
    delete from flash_sale
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.carter.pojo.FlashSale" >
    insert into flash_sale (flash_sale_id, score, stock, 
      start_time)
    values (#{flashSaleId,jdbcType=INTEGER}, #{score,jdbcType=INTEGER}, #{stock,jdbcType=INTEGER}, 
      #{startTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.carter.pojo.FlashSale" keyProperty="flashSaleId" useGeneratedKeys="true">
    insert into flash_sale
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="flashSaleId != null" >
        flash_sale_id,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="stock != null" >
        stock,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="flashSaleId != null" >
        #{flashSaleId,jdbcType=INTEGER},
      </if>
      <if test="score != null" >
        #{score,jdbcType=INTEGER},
      </if>
      <if test="stock != null" >
        #{stock,jdbcType=INTEGER},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.carter.pojo.FlashSaleExample" resultType="java.lang.Integer" >
    select count(*) from flash_sale
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update flash_sale
    <set >
      <if test="record.flashSaleId != null" >
        flash_sale_id = #{record.flashSaleId,jdbcType=INTEGER},
      </if>
      <if test="record.score != null" >
        score = #{record.score,jdbcType=INTEGER},
      </if>
      <if test="record.stock != null" >
        stock = #{record.stock,jdbcType=INTEGER},
      </if>
      <if test="record.startTime != null" >
        start_time = #{record.startTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update flash_sale
    set flash_sale_id = #{record.flashSaleId,jdbcType=INTEGER},
      score = #{record.score,jdbcType=INTEGER},
      stock = #{record.stock,jdbcType=INTEGER},
      start_time = #{record.startTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.carter.pojo.FlashSale" >
    update flash_sale
    <set >
      <if test="score != null" >
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="stock != null" >
        stock = #{stock,jdbcType=INTEGER},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where flash_sale_id = #{flashSaleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.carter.pojo.FlashSale" >
    update flash_sale
    set score = #{score,jdbcType=INTEGER},
      stock = #{stock,jdbcType=INTEGER},
      start_time = #{startTime,jdbcType=TIMESTAMP}
    where flash_sale_id = #{flashSaleId,jdbcType=INTEGER}
  </update>
</mapper>